<nav class="navbar navbar-expand navbar-light navbar-bg">
    <a class="sidebar-toggle js-sidebar-toggle">
        <i class="hamburger align-self-center"></i>
    </a>

    <div class="navbar-collapse collapse">
        <ul class="navbar-nav navbar-align">
            
            
            <li class="nav-item dropdown">
                <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#"
                    data-bs-toggle="dropdown">
                    <i class="align-middle" data-feather="settings"></i>
                </a>

                <a class="nav-link dropdown-toggle d-none d-sm-inline-block" hr ef="#" data-bs-toggle="dropdown">
                    <img src="{{ url_for('static', filename='img/icons/usuario.svg') }}" class="avatar img-fluid rounded me-1" alt="Avatar" />
                    <span class="text-dark">{{ session['nombres'] }}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    
                    <a class="dropdown-item" href="/logout">Cerrar Sesion</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<script>
    function logout() {
        // Limpiar información de sesión almacenada localmente
        sessionStorage.clear();
        localStorage.clear();
        // Redirigir al usuario a la página de inicio de sesión
        window.location.href = "/logout";
    }
</script>